{% extends "realuser/layout.html" %}
{% load static %}
{% block body %}
    <style>
        body {
        background-image: url("{% static 'images/index.jpg' %}");
        background-size: cover;
        font-family: 'Rokkitt', serif;
        font-size: 24px;
      }
    </style>
    <div style="padding-left: 2%; padding-top:2%">
    <h1 style="color:white">Welcome, {{ request.user.first_name }}</h1>

    <ul>
        <li style="color:white">Username: {{ request.user.username }}</li>
        <li style="color:white">Email: {{ request.user.email }}</li>
    </ul>
    <h1 style="color:white"> Registered </h1>
    {% for x in couseslist %}
        <div style="color:white">
        {{ x.subject }} <br>
        {% empty %}
        <li style="color:white">No Courses</li>
        </div>
    {% endfor %}

    <br>
    <div style=" margin-bottom: 1%;margin-left: 2%"><a href="{% url 'users:index' %}"class="btn btn-outline-light">All Courses</a></div>
    
    
    <div style=" margin-bottom: 1%;margin-left: 2%"><a href="{% url 'realuser:logout' %}"class="btn btn-outline-danger">Logout</a></div>
    </div>
{% endblock %}
